<h1><%= @discussion.title%></h1>
<p><%= @discussion.description %></p>

<%= link_to "Edit", edit_discussion_path(@discussion) %> |
<%= link_to "Delete", discussion_path(@discussion), method: :delete, data: {confirm: "Are you sure you want to delete this discussion?"} %>

<h2>Comments</h2>

<div id="comments">
  <% @discussion.comments.order("created_at DESC").each do |comment|%>
    <%= render "/comments/comment", {discussion: @discussion, comment: comment} %>
  <% end %>
</div>

<h3>Create Comment</h3>

<%= render "/comments/form", {discussion: @discussion, comment: @comment} %>
