<div id="<%= dom_id(comment) %>">
  <%= comment.body %> |
  <%= comment.created_at.strftime("%B %d, %Y") %>
  <%= link_to "Edit", edit_discussion_comment_path(comment.discussion, comment), remote: true %>
  <%#= shortcut for path %>
  <%= link_to "Delete", [comment.discussion, comment],
                        method: :delete,
                        remote: true,
                        style: "text-align: right;",
                        data: {confirm: "Are you sure?"}%>
  <hr>
</div>
