<ul>
  <% @task.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

<%= form_for @task do |f| %>
  <%= content_tag(:div, class: "form-group") do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  <% end %>
  <%= content_tag(:div, class: "form-group") do %>
    <%= f.label :due_date %>
    <%= f.text_field :due_date, class: "form-control" %>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
