<!DOCTYPE html>
<html>
<head>
  <title>RailsPm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag(:div, class: "container-fluid") do %>
    <%= content_tag(:div, class: "row") do %>
      <%= content_tag(:div, class: "col-sm-12") do %>
        <%= link_to "Home", home_path %> |
        <%= link_to "About", about_path %> |
        <%= link_to "All Projects", projects_path %> |
        <%= link_to "New Project", new_project_path %> |
        <%= content_tag(:span, style: "color:red;") do %>
        <%= notice || alert%>
        <hr>
        <% end %>
      <% end %>
    <% end %>
    <%= content_tag(:div, class: "row") do %>
      <%= content_tag(:div, class: "col-sm-12") do %>
        <%= yield %>
      <% end %>
    <% end %>
  <% end %>
</body>
</html>
