<!DOCTYPE html>
<html>
<head>
  <title>RailsPm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= notice || alert %>
  <hr>
  <%= link_to "Home", home_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "All Projects", projects_path %> |
  <%= link_to "New Project", new_project_path %> |
  <%= link_to "All Tasks", tasks_path %> |
  <%= link_to "New Task", new_task_path %> |
  <%= link_to "All Discussions", discussions_path %> |
  <%= link_to "New Discussion", new_discussion_path %> |
  <%= link_to "All Comments", comments_path %> |
  <%= link_to "New Comment", new_comment_path %>

<%= yield %>

</body>
</html>
